<form method="post" action="{{ path('abonne_delete', {'idAbonne': abonne.idAbonne}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonne.idAbonne) }}">
    <button class="btn">Delete</button>
</form>
